
/* Aba criar */
#create {
  background-color: #FAF0DC;
  border: 10px solid #DBCEB4;
}

#createForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 50%;
  height: 30vh;
  position: relative;
} 



