
#containertexto{
  background-color: #faf0dc;
  width: 45%;
  height: 95%;
  margin-left: 6%;
  position: absolute;
}

#login{
  background-color: #efb67f;
  width: 96.5%;
  height: 88vh;
  margin-top: 2.8%;
  border-top-right-radius: 30px;  
  border-bottom-right-radius: 30px; 
}

#contentid{
  position: relative;
  left: 72.5%;
  top: 30%;
}

#bemvindo{
  margin-left: 15%;
  margin-bottom: -6%;
  font-family: sunborn;
  font-size: 5vw;
  color: #4e6a8f;
  letter-spacing: 0.1vw;
}

#h1login{
  font-family: sunborn;
  font-size: 3vw;
  color: #4e6a8f;
  margin-bottom: -1vh;
  margin-left: -2%;
  letter-spacing: 0.1vw;
}

#mensagemlogin{
  margin-left: 15.3%;
  font-size: 1.3vw;
  font-family: gilker;
  color: #4e6a8f;
  width: 70%;
  letter-spacing: 0.1vw;
}

#logologin{
  width: 22%;
  margin-left: 39%;
  margin-top: 25%;
  margin-bottom: -2.3%;
}

.form-login input{
  background-color: #faf0dc;
  color: #4e6a8f;
  border: none;
  margin: 8px;
  border-radius: 8px;
  font-family: 'gilker';
  font-size: 2vh;
  width: 20vw;
  height: 5vh;
  padding-left: 15px;
  box-sizing: border-box;
}

.form-login ::placeholder {
  color: #4e6a8f;
}

.form-login input:focus {
  outline: none;
  border: 2px solid #4e6a8f;
}

.form-login input::selection {
  background-color: #faf0dc;
}

.form-login {
  margin-left: -8%;
}

.form-login-checkbox {
  margin-left: -8%;
}

#submitlogin input{
  border: 2px solid #4e6a8f;
}

.form-login-checkbox{
  color: #4e6a8f;
  font-family: 'gilker';
  font-size: 2vh;
  padding-left: 15px;
  margin-bottom: 1vh;
  margin-top: 1vh;
  cursor: pointer;
}

