/*ALERTA: Falta dividir esse CSS!*/
/* * {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: sunborn;
  src: url(../../assets/font/Sunborn-SansOne.otf);
} */

.material-symbols-outlined.a {
  font-size: 30px;
}

/* body {
  width: 100vw;
  height: 100vh;
  background-color: #f0dbb0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sunborn;
} */

#update {
  width: 95vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  border-radius: 0 16px 16px 0;
  background-color: #EFB67F;
  border: 10px solid #DD9C5E;
  border-left: none;
  /*animation: slideAnim 1s ease-out;*/
  flex-direction: column;
  color: #4E6A8F;
}

#titleUpdate {
  font-size: 50px;
  margin-bottom: 10px;
}

#cpf {
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* #cpfInp {
  width: 500px;
  border-radius: 25px;
  background-color: white;
  border: none;
  text-align: center;
} */

#searchButton {
  cursor: pointer;
  position: absolute;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 25px;
}

#data {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.datas {
  width: 25%;
  margin: 2% 0% 0% 2%;
}

.objetos {
  width: 100%;
  height: 30px;
  margin-bottom: 5%;
  background-color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  text-indent: 10px;
  font-size: 20px;
}

.old {
  background-color: #f0dbb0;
  border: 1px solid #f0dbb0;
}

.new {
  background-color: #faf0dc;
  border: 1px solid #4e6a8f;
}

#submit {
  height: 30px;
  font-size: 20px;
  width: 20%;
  border: 1px solid #4e6a8f;
  background-color: #faf0dc;
  border-radius: 10px;
  cursor: pointer;
}