body{
  padding: 0;
  margin: 0;
  background-color: #faf0dc;
  overflow-x: hidden;
}

/* Fontes Importadas */
@font-face{
  font-family: sunborn;
  src: url('assets/font/Sunborn-SansOne.otf')  format('truetype');
}

@font-face{
  font-family: gilker;
  src: url('assets/font/Gliker-Regular.ttf')  format('truetype');
}
