body{
  padding: 0;
  margin: 0;
  background-color: #faf0dc;
  overflow-x: hidden;
}

#animation {
  animation: slideAnim 0.5s ease-out;
  width: 95vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0vh;
  left: 0;
  border-radius: 0 16px 16px 0;
  flex-direction: column;
  border-left: none;
  letter-spacing: 0.1vw;
}

@keyframes slideAnim {
  from {
    left: -100vw;
  }

  to {
    left: 0;
  }
}
/* Fontes Importadas */
@font-face{
  font-family: sunborn;
  src: url('assets/font/Sunborn-SansOne.otf')  format('truetype');
}

@font-face{
  font-family: gilker;
  src: url('assets/font/Gliker-Regular.ttf')  format('truetype');
}
